//Colors
$red-color: #e02a2a;
$gray-color: #222;
$white-color: #fff;

//Backgrounds


//Margins and paddings
$margin-xl: 40px;
$margin-lg: 35px;
$margin-md: 25px;
$margin-sm: 20px;
$margin-xs: 15px;

$padding-xl: 40px;
$padding-lg: 35px;
$padding-md: 25px;
$padding-sm: 20px;
$padding-xs: 15px;


